body{
	font-family: source-sans-pro;
	font-size: 18px;
	

}
/*video{
	height: 600px;
	width: 200px;

}*/
.info p{
	padding-top: 25px;
}
 .logo-image{
	 	height: 40px;
	 	width: 40px;
	 	margin-right: 5px;
 }
 .display-1{
 			display: inline-block;
 			vertical-align: top; 
 			text-decoration: inherit;
 			text-wrap: balance;
 			font-weight: 600;
 }
span {
	padding: 2px 7px;
	font-weight: 600;
}
nav{
	position: sticky;
}
.contact, .sign{
	border-radius: 50px;
	margin-right: 10px;

}
.sign:hover{
	background-color: black;
}
.second {
	background-color: rgb(198, 190, 230);
	text-align: center;
	padding: 15px;
	
}
.second a{
	color: black;
	text-decoration: none;
}
.second a b:hover, .second a i:hover, .second a strong:hover{
	color: black;
	text-decoration: underline;
}


.logo{
	letter-spacing: 2px;
	text-transform: uppercase;
}
@media only screen and (max-width: 600px) {
  .logo {
    visibility: hidden;
  }

}